{% extends "index.html" %}

{% block body %}
<div class="container">

        <div class="table-responsive">
            <table class="table table-bordered">
                  <thead class="table-danger">
                  <br>
                  <tr>
                      <td>id</td>
                      <td>Name</td>
                      <td>Account No.</td>
                      <td>Area </td>
                      <td>District</td>
                      <td>Group Id No</td>
                      <td>Branch</td>
                      <td>Balance</td>
                      <td>Details</td>
                      <td>View Members</td>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item in items %}
                      <tr>
                      <td>{{ item.pk }}</td>
                      <td>{{ item.group_name }}</td>
                      <td>{{ item.group_account_number }}</td>
                      <td>{{ item.area_of_origin }}</td>
                      <td>{{ item.district }}</td>
                      <td>{{ item.group_id_number }}</td>
                      <td>{{ item.branch }}</td>
                      <td>{{ item.account_balance}}</td>

                      <td><a class="btn btn-primary bt-sm" role="button" href="{% url 'view_group_details' item.pk %}">View</a></td>
                      <td><a class="btn btn-primary bt-sm" role="button" href="{% url 'view_group_members' item.pk %}">View Members</a></td>

                      </tr>
                  {% endfor %}

                  </tbody>
        </table>

         <div class="pagination">
                <span class="step-links">
                    {% if items.has_previous %}
                        <a class="btn btn-primary bt-sm" role="button" href="?page=1">&laquo; first</a>
                        <a class="btn btn-primary bt-sm" role="button" href="?page={{ items.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ items.number }} of {{ items.paginator.num_pages }}.
                    </span>

                    {% if items.has_next %}
                        <a class="btn btn-primary bt-sm" role="button" href="?page={{ items.next_page_number }}">next</a>
                        <a class="btn btn-primary bt-sm" role="button" href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}

                    <a class="btn btn-success bt-sm" role="button" href="{% url 'register_group'  %}">Add Group</a>

                    <a class="btn btn-primary bt-sm" role="button" href="#">pdf</a>
                    <a class="btn btn-primary bt-sm" role="button" href="#">Excel</a>
                    <a class="btn btn-primary bt-sm" role="button" href="#">Csv</a>
                    <a class="btn btn-primary bt-sm" role="button" href="{% url 'group_members' %}">Add Member to a group</a>


                </span>
              </div>


        </div>




    </div>




{% endblock %}





</body>
</html>